


* {
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	min-height: 100vh;

	--padding: 200px;
	--footer-height: 50px;
	--color-light: rgb(230, 230, 230);
	--navbar-color: rgb(50, 50, 50);
	--navbar-underline-color: rgb(80, 80, 80);
	
	--green: rgb(0, 230, 0);
	--green-light: rgb(0, 240, 0);
	--green-lighter: rgb(0, 255, 0);
}

input {
	outline: none;
	min-height: 30px;
	color: var(--navbar-color);
	border: 1px solid var(--navbar-color);
	border-radius: 5px;
	padding: 4px 7px;
	font-size: 20px;
}





/* __________________________________________________Site__________________________________________________ */

.site {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-right: var(--padding);
	padding-left: var(--padding);
	font-size: 20px;
}

.site-content {
	min-height: calc(100vh - var(--footer-height));
}





/* __________________________________________________Navbar__________________________________________________ */

.navbar {
	height: 40px;
	width: 100%;
	background: none;
	top: 0;
	margin: 0; 
	display: flex;
	position: fixed;
	justify-content: right;
	z-index: 100;
}

.navbar-elements {
	margin-right: var(--padding);
	display: flex;
	justify-content: space-between;
}

.navbar-element {
	padding: 10px;
	font-size: 25px;
	color: var(--navbar-color);
	cursor: pointer;
}

.navbar-element.dark {
	color: var(--color-light);
}

.navbar-element span {
	padding-bottom: 3px;
}

.navbar-element:hover span {
	border-bottom: 1px solid var(--navbar-underline-color);
}

.navbar-element.dark:hover span {
	border-bottom: 1px solid var(--color-light);
}





/* __________________________________________________Footer__________________________________________________ */

.footer {
	height: var(--footer-height);
	bottom: 0px;
}

.footer-container {
	border-top: 1px solid var(--navbar-underline-color);
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
}

.footer-element {
	cursor: pointer;
	color: var(--navbar-underline-color);
}

.footer-container.dark {
	border-top: 1px solid var(--color-light);
}

.footer-element.dark {
	color: var(--color-light);
}





/* __________________________________________________Homepage__________________________________________________ */

.welcome {
	font-family: cursive; 
	justify-content: center;
	width: 100%;
	display: flex;
	margin-top: 200px;
	color: var(--color-light);
	margin-bottom: 0;
}

.zumschtis {
	font-family: cursive; 
	justify-content: center; 
	width: 100%; 
	display: flex;
	font-size: 100px; 
	margin: 0;
	padding: 0;
}

.columns {
	margin-top: 200px;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}

.column {
	border-radius: 20px;
	padding: 30px;
	width: 500px;
	background-color: rgba(250, 250, 250, .7);
}

.visit-button {
	background: none;
	border: none;
	font-size: 20px;
	color: green;
	cursor: pointer;
}





/* __________________________________________________Carousel__________________________________________________ */

.carousel {
	height: 500px;
	position: relative;
	list-style: none;
	margin-top: 50px;
	margin-bottom: 50px;
}

.slide {
	position: absolute;
	inset: 0;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 30px;
}

.carousel-button-container {
	position: absolute;
	height: 100%;
	width: 100px;
	transition: background .3s;
	z-index: 1;
	display: flex;
	align-items: center;
}

.carousel-button {
	background: none;
	border: none;
	top: 50%;
	margin: 10px;
	transition: fill .3s;
	cursor: pointer;
}

.carousel-button-container.prev {
	left: 0px;
	justify-content: left;
	transition: background .3s;
}

.carousel-button-container.prev:hover {
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
}

.carousel-button-container.prev:hover svg {
	fill: white;
}

.carousel-button-container.next {
	right: 0px;
	justify-content: right;
	transition: background .3s;
}

.carousel-button-container.next:hover {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
}

.carousel-button-container.next:hover svg {
	fill: white;
}

.events-text {
	color: var(--color-light);
	margin-bottom: 100px;
	font-size: 20px;
}





/* __________________________________________________Menu__________________________________________________ */

.menu-category {
	margin: 40px 0;
}
  
.menu-item {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
  
.menu-item:last-child {
	border-bottom: none;
}





/* __________________________________________________Button__________________________________________________ */

.button {
	font-size: 20px;
	height: 50px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 3px 0px var(--navbar-color);
	padding: 5px 15px;
	background-color: var(--green);
	color: white;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all .25s ease;
}

.button:hover {
	transform: scale(1.02);
    background-color: var(--green-light);
}

.button:active {
    transform: scale(0.98);
}





/* __________________________________________________Input__________________________________________________ */

.inputfield {
	position: relative;
	display: flex;
	height: 62px;
	width: 450px;
	margin: 15px 0;
}

.inputfield input {
	width: 408px;
	height: 30px;
	color: var(--navbar-color);
    padding: 15px 20px;
    background: transparent;
	border: 1px solid var(--navbar-color);
	outline: none;
    border-radius: 5px;
}

.inputfield label {
	position: absolute;
	top: 50%;
	margin-left: 15px;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	padding: 0 5px;
	transition: font-size .5s, top .5s;
}

.inputfield input:focus~label, 
.inputfield input:not(:placeholder-shown)~label {
	top: 0;
	font-size: 12px;
	background-color: white;
}
