


body{
	padding: 0;
	margin: 0;

	--padding: 200px;
	--color-light: rgb(230, 230, 230);
	--navbar-color: rgb(50, 50, 50);
	--navbar-underline-color: rgb(80, 80, 80);
}

.site {
	margin: 0;
	padding: 0; 
	padding-right: var(--padding);
	padding-left: var(--padding);
	background-color: white;
	height: calc(100vh - 40px);
}



.navbar {
	height: 40px;
	background: none;
	top: 0;
	margin: 0; 
	display: flex;
	position: sticky;
	justify-content: right;
	padding-right: var(--padding);
	padding-left: var(--padding);
}

.navbar-elements {
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
}

.navbar-element {
	padding: 10px;
	color: var(--navbar-color);
	cursor: pointer;
}

.navbar-element span {
	padding-bottom: 3px;
}

.navbar-element:hover span {
	border-bottom: 1px solid var(--navbar-underline-color);
}

.footer {
	height: 50px;
	padding-right: var(--padding);
	padding-left: var(--padding);
}

.footer-container {
	border-top: 1px solid var(--navbar-underline-color);
	color: var(--navbar-underline-color);
	font-size: 12px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
}

.footer-element {
	cursor: pointer;
}

.impressum {

}

